---
layout: layout.liquid
title: "Explorer’s Blog"
---

<h2>Welcome to My Interstellar Journey</h2>
<p>
  Join me as I document every cosmic wonder I encounter. Below are my recent logs:
</p>
<ul>
  <li><a href="/posts/post1.html">My First BLog</a></li>
  <li><a href="/posts/post2.html">Reflections from the Moon and Galaxy</a></li>
</ul>
<p>
  Learn more about me on the <a href="/about">About</a> page.
</p>
